<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/head :: headerFragment"/>
<link rel="stylesheet" th:href="@{css/admin.css}" />
<script th:src="@{js/allhref.js}"></script>
<link rel="stylesheet" th:href="@{css/allhref.css}" />
</head>
<body>
	<div th:include="fragments/adminNavBar :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4 link" href="/user-managment">
				<div class="tile link oneword">
					Benutzer
				</div>
			</div>
			<div class="col-12 col-lg-4 link" href="/product-managment">
				<div class="tile link oneword">
					Produkte
				</div>
			</div>
			<div class="col-12 col-lg-4 link" href="/order-managment">
				<div class="tile link oneword">
					Bestellungen
				</div>	
			</div>
		
		</div>
	</div>
</body>
</html>