<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/admin.css}" />
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<script th:src="@{js/allhref.js}"></script>
<link rel="stylesheet" th:href="@{css/allhref.css}" />
</head>
<body>
	<div th:include="fragments/adminNavBar :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-4 link" href="/user-managment">
				<div class="tile link oneword">
					Benutzer
				</div>
			</div>
			<div class="col-6 col-md-4 link" href="/product-managment">
				<div class="tile link oneword">
					Produkte
				</div>
			</div>
			<div class="col-6 col-md-4 link" href="/order-managment">
				<div class="tile link oneword">
					Bestellungen
				</div>	
			</div>
		
		</div>
	</div>
</body>
</html>