<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/head :: headerFragment"/>
<link rel="stylesheet" th:href="@{css/admin.css}" />
</head>
<body>
	<div th:include="fragments/adminNavBar :: navbar"></div>
	<div class="container">
		<div class="d-flex justify-content-between buttonRow">
			<a href="/product-managment" class="btn btn-secondary" role="button">Zurück</a>
		</div>
		<h2>Produkt erstellen</h2>
		<form class="row" action="add-product" method="post" enctype="multipart/form-data">
			<input type="hidden"  th:name="${_csrf.parameterName}"   th:value="${_csrf.token}"/>
			<div class="form-group col-6">
				<label for="name">Name:</label>
				<input id="name" name="name" type="text" class="form-control" placeholder="Wurst" required="required"></input>
			</div>
			<div class="form-group col-6">
				<label for="name">Amount:</label>
				<input id="name" name="amount" type="number" class="form-control" placeholder="12" required="required"></input>
			</div>
			<div class="form-group col-6">
				<label for="unit">Einheit:</label>
				<select name="unit" id="unit" class="form-control">
					<th:block th:each="unit : ${units}">
						<option th:value="${unit.id}" th:text="${unit.name}"></option>
					</th:block>
				</select>
			</div>
			<div class="form-group col-6">
				<label for="description">Beschreibung:</label>
				<textarea id="description" name="description" placeholder="Beschreibung..." required="required" class="form-control" rows="2"></textarea>
			</div>
			<div class="form-group col-6">
				<label for="price">Preis:</label>
				<input id="price" name="price" type="number" class="form-control" placeholder="1,00" required="required"></input>
			</div>
			<div class="form-group col-6">
				<label for="img">Bild:</label>
				<input type="file" name="img" id="img"></input>
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary">Hinzufügen</button>
			</div>
		</form>
	</div>
</body>
</html>