<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<th:block th:include="fragments/head :: headerFragment"/>
<link rel="stylesheet" th:href="@{css/admin.css}" />
</head>
<body>
	<div th:include="fragments/adminNavBar :: navbar"></div>
	<div class="container">
		<div class="d-flex justify-content-between buttonRow">
			<a href="/" class="btn btn-secondary" role="button">Zurück</a>
		</div>
		<div class="row">
			<th:block th:each="order : ${orders}">
				<div class="container col-lg-4 col-md-6">
					<div class="tile">
						<dl class="row">
							<dt class="col-4">Benutzer</dt>
							<dd class="col-8" th:text="${order.username}"></dd>
							<dt class="col-4">Product</dt>
							<dd class="col-8" th:text="${order.productname}"></dd>
							<dt class="col-4">Amount</dt>
							<dd class="col-8"><span th:text="${order.amount}"></span> <span th:text="${order.unit}"></span></dd>
							<dt class="col-4">Preis</dt>
							<dd class="col-8"><span th:text="${order.price}"></span></dd>
						</dl>
						<form action="/order-managment/close" method="post">
							<input type="hidden"  th:name="${_csrf.parameterName}"   th:value="${_csrf.token}"/>
							<input type="hidden"  th:name="order"   th:value="${order.id}"/>
							<button type="submit" class="btn btn-primary fullwidth">Bestellung schließen</button>
						</form>
					</div>
				</div>
			</th:block>
		</div>
		</div>
</body>
</html>