<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<th:block th:include="fragments/head :: headerFragment"/>
<link rel="stylesheet" th:href="@{css/admin.css}" />
</head>
<body>
	<div th:include="fragments/adminNavBar :: navbar"></div>
	<div class="container">
		<div class="d-flex justify-content-between buttonRow">
			<a href="/" class="btn btn-secondary" role="button">Zurück</a>
			<a href="/add-product" class="btn btn-primary" role="button">Produkt hinzufügen</a>
		</div>
		<div class="row">
			<th:block th:each="product : ${products}">
				<div class="container col-lg-4 col-md-6">
					<div class="tile">
						<dl class="row">
							<dt class="col-4">Name</dt>
							<dd class="col-8" th:text="${product.name}"></dd>
							<dt class="col-4">Description</dt>
							<dd class="col-8" th:text="${product.description}"></dd>
							<dt class="col-4">Amount</dt>
							<dd class="col-8" th:text="${product.amount}"></dd>
						</dl>
						
					</div>
				</div>
			</th:block>
		</div>
		</div>
</body>
</html>