.shoptile{
    box-shadow: 5px 5px 10px black;
    background: white;
    margin-bottom: 10px;
}
.logo{
    padding-bottom: 5px;
    margin-bottom: 15px;
    --box-shadow: 0px 5px 10px black;
    background-repeat-y: no-repeat;
    background: url("/img/tinder.png");
    height: 70px;
    color: white;

}

body{
    background: url("/img/wall.jpg")
}

.edgy *, .edgy{
	border-radius: 0px;
}

.edgy{
	
	margin-left: -5px; 
	margin-right: -5px
}

.fullwidth{
	width: 100%;
}
