.orderDialog .image > img{
	width: 100%;
}


.orderDialog{
	padding-top: 15px;
	padding-bottom: 15px;
}

.orderDialog h4{
	font-size: 20px;
}

.orderDialog>.row{
	margin-bottom: 5px;
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}
