<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/head :: headerFragment"/>
<link rel="stylesheet" th:href="@{css/main.css}" />
</head>
<body style="background: black">
	<div class="container justify-content-center"
		style=" padding-top: 200px; padding-bottom: 20px">
		<div class="alert alert-danger" th:if="${error}">
		  <strong>Nein!</strong>
		</div>
		<form action="login" method="post">
			<input type="hidden" value="user" name="username"></input>
			<div class="form-group">
				<input type="password" class="form-control" name="password" placeholder="Passwort eingeben..."></input> 
			</div>
			<input type="hidden"  th:name="${_csrf.parameterName}"   th:value="${_csrf.token}"/>
			<button type="submit" class="btn">Eintreten</button>
		</form>
	</div>
</body>
</html>