<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/main.css}" />
<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/number-spinner.js}"></script>

</head>
<body>
	<div class="logo container-fluid row justify-content-between">
		<h1>Harry's Hofladen</h1>
		<div class="col-3" style="padding-top: 15px">
			<span>Servus, </span> <span th:text="${username}"></span> <span>!</span>
			<span></span>
			<form action="logout" method="post" style="display: inline;">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<button type="submit" class="btn btn-sm">Logout</button>
			</form>
		</div>
	</div>
	<div class="container">
		<div>
			<div class="row">
				<h2>Am Laufen</h2>
			</div>
			<th:block th:each="order : ${activeOrders}">
				<div class="row">
					<div class="col shoptile">
						<dl class="row">
							<dt class="col-4">Product</dt>
							<dd class="col-8" th:text="${order.productname}"></dd>
							<dt class="col-4">Amount</dt>
							<dd class="col-8"><span th:text="${order.amount}"></span> <span th:text="${order.unit}"></span></dd>
							<dt class="col-4">Preis</dt>
							<dd class="col-8"><span th:text="${order.price}"></span></dd>
						</dl>
					</div>
				</div>
			</th:block>
			<div class="row">
				<h2>Abgeschlossen</h2>
			</div>
			<th:block th:each="order : ${inactiveOrders}">
				<div class="row">
					<div class="col shoptile inactive">
						<dl class="row">
							<dt class="col-4">Product</dt>
							<dd class="col-8" th:text="${order.productname}"></dd>
							<dt class="col-4">Amount</dt>
							<dd class="col-8"><span th:text="${order.amount}"></span> <span th:text="${order.unit}"></span></dd>
							<dt class="col-4">Preis</dt>
							<dd class="col-8"><span th:text="${order.price}"></span></dd>
						</dl>
					</div>
				</div>
			</th:block>
		</div>
	</div>
</body>
</html>