<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<th:block th:include="fragments/head :: headerFragment"/>
<link rel="stylesheet" th:href="@{css/main.css}" />
<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
<script th:src="@{js/number-spinner.js}"></script>

</head>
<body>
	<div th:include="fragments/navbar :: navbar"></div>
	<div class="container">
		<div class="row">
			<a href="/" type="button" class="btn btn-secondary btn-sm">Zurück</a>
		</div>
			<div class="row">
				<h2>Am Laufen</h2>
			</div>
			<th:block th:each="order : ${activeOrders}">
				<div class="row">
					<div class="col shoptile">
						<dl class="row">
							<dt class="col-4">Product</dt>
							<dd class="col-8" th:text="${order.productname}"></dd>
							<dt class="col-4">Amount</dt>
							<dd class="col-8"><span th:text="${order.amount}"></span> <span th:text="${order.unit}"></span></dd>
							<dt class="col-4">Preis</dt>
							<dd class="col-8"><span th:text="${order.price}"></span><span> €</span></dd>
						</dl>
					</div>
				</div>
			</th:block>
			<div class="row">
				<h2>Abgeschlossen</h2>
			</div>
			<th:block th:each="order : ${inactiveOrders}">
				<div class="row">
					<div class="col shoptile inactive">
						<dl class="row">
							<dt class="col-4">Product</dt>
							<dd class="col-8" th:text="${order.productname}"></dd>
							<dt class="col-4">Amount</dt>
							<dd class="col-8"><span th:text="${order.amount}"></span> <span th:text="${order.unit}"></span></dd>
							<dt class="col-4">Preis</dt>
							<dd class="col-8"><span th:text="${order.price}"></span><span> €</span></dd>
						</dl>
					</div>
				</div>
			</th:block>
	</div>
</body>
</html>