<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/head :: headerFragment"/>
<link rel="stylesheet" th:href="@{css/main.css}" />
<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{css/orderDialog.css}" />
<script th:src="@{js/number-spinner.js}"></script>
<script>
	$(document).ready(function(){
		$('.link').click(function(){
			//window.location = $(this).attr("href");

			$('#orderModal .modal-body').load($(this).attr("href") + " .orderDialog", function(){
				$('#orderModal').modal('toggle');
				$.getScript('/js/number-spinner.js');
			});
		});
	});
</script>

</head>
<body>
	<div th:include="fragments/navbar :: navbar"></div>
	<div class="container">
		<form method="get" action="/shop">
			<div class="row marginbottom">
				<div class="col-12">
    				<div class="input-group">
	      				<input type="text" class="form-control" name="query" th:value="${searchString}"/>
	      				<span class="input-group-btn">
	        				<button class="btn btn-secondary" type="submit">Suchen</button>
	      				</span>
      				</div>
    			</div>
  			</div>
		</form>
		<div class="row">
			<th:block th:each="product : ${products}">
				<div class="col-sm-6 col-md-4 col-lg-3 ">
						<div class="shoptile link" th:href="${product.orderUrl}">
							<img th:src="${product.image}" style="width: 100%" />
							<div style="margin: 5px">
								<h4 style="height: 3rem" th:text="${product.name}" />
								<div style="font-size: 0.8rem; height: 1.6rem"
									th:text="${product.description}"></div>
								<div style="margin-bottom: 15px">
									<span style="font-size: 1.5rem; font-weight: 600;"> <span
										th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">
									</span> <span>€</span>
									</span> <span style="font-size: 0.8rem;"> <span
										th:text="${product.amount}"></span> <span
										th:text="${product.unit}"></span> <span> übrig</span>
									</span>
								</div>
							</div>
						</div>
				</div>
			</th:block>
		</div>
	</div>
	<div class="modal fade bd-example-modal-lg" id="orderModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Bestellung</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Modal body text goes here.</p>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>