<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<div class="logo">
    <h1>Harry's Hofladen</h1>
</div>
<div class="container">
    <div class="row">
        <th:block th:each="product : ${products}">
            <div class="col-sm-12 col-md-3">
                <div class="shoptile">
                    <img th:src="|/img/product/product${product.id}.jpg|" style="width: 100%"/>
                    <div style="margin: 5px">
                        <h3 th:text="${product.name}"/>
                        <h6>
                            <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"> </span>
                            <span>€</span>
                        </h6>
                        <span th:text="${product.amount}"></span>
                        <span th:text="${product.unitObj.name}"></span><span> übrig</span>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>